input(type="checkbox" id="sidebar-collapse" checked)
section.sidebar
  .sidebar__title-wrapper
    h1.sidebar__title My account
    +label.round-left(size="tiny", icon="chevron-right", to="sidebar-collapse")

  .sidebar__user-panel
    include ../user-panel/user-panel

  .sidebar__menu
    each menuLink, key in data.sidebar.menuLinkList
      input.sidebar__menu-input(
        type="radio"
        id=`menu-link-${key}`
        name="menu-link"
      )
      +label(size="large", icon=menuLink.icon, to=`menu-link-${key}`)
        span.label__label=menuLink.label
